* 선 그래프: 변화 확인
* 막대 그래프: 수치 비교
* 파이 그래프: 몇 가지 항목의 비율 확인

* 히스토그램은 범위(범주형)으로 만든 후, 표현하는 그래프
* 히스토그램은 분포를 확인하는 그래프

In [ ]:
%matplotlib inline

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./data/body.csv", index_col=0)

In [5]:
df.head()

        Height  Weight
Number
1        176.0    85.2
2        175.3    67.7
3        168.6    75.2
4        168.1    67.1
5        175.3    63.0

df.plot(kind="hist", y="Height")

df.plot(kind="hist", y="Height", bins=15)

df.plot(kind="hist", y="Height", bins=200)